body{
    @include light;
    color: $text_color;
}

.navbar_button_o{
    text-transform: uppercase;
    border: 2px solid $primary;
    padding: 17px 22px;
    font-size: 12px;
    background-color: #ffffff;
    @include bold;
    color: $primary;
    &:hover{
        background-color: $primary;
        color: #ffffff;
    }
    @media (max-width:600px) {
        font-size: 10px;
        }
}


.button{
    text-transform: uppercase;
    border: none;
    padding: 25px 45px;
    font-size: 12px;
    background-color: $primary;
    @include bold;
    color: #ffffff;
    &:hover{
        background-color: #ffffff;
        color: $primary;
    }
}

.bg-secondary{
    background:$bg-secondary;
}
.input{
    height: 80px;
    padding-left: 30px;
    border: 1px solid #dddddd;
}

input[type="checkbox"]{
    display: none;
    &:checked +label::before{
            background-color: $primary;
    }
}    

// .checkbox{
//     &_label{
//         display: flex;
//         align-items: center;
//         margin-right: 42px;
//         &:hover{
//             cursor: pointer;
//         }
//         &::before{
//             content: " ";
//             margin-top: 15px;
//             margin-right: 20px;
//             width: 30px;
//             height: 30px;
//             border: 1px solid #dddddd;
//         }
//     }
// }

// проблема 2