.offer{
    padding: 129px 0;
    &_block{
        background-color: #ffffff;
        padding: 80px;
        margin-top: -220px;
        border: 1px solid $primary;
        border-radius: 10px;
        box-shadow: 0 15px 25px rgba($primary, 0.5);
        @media screen and (max-width: 768px) {
            padding: 40px;
            margin-top: -300px;}
    }
    &_title{
        font-size: 25px;
        text-transform: uppercase;
        @include bold;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }
    &_subtitle{
        display: block;
        font-size: 21px;
        margin-bottom: 48px;
    }
}

.form{
    &__row{
        display: flex;
        align-items: center;
        // max-width: 900px;
        width: 100%;
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0;
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    &__label{
        display: block;
        font-size: 16px;
        margin-bottom: 15px;
    }
    &__group{
        flex-basis: 33.33%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &__input{
        width: 100%;
        border-right-width: 0px;
        &:last-child{
            border-right-width: 1px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &_button{
        height: 80px;
        width: 100%;
    }
}
